#qg-two-col-aside.wide #qg-primary-content {
    padding-left: 15px !important;
}
.qg-aside {
    background-color: #fff !important;
}
.pagination-container {
    margin-top: 3rem;
}
#qg-primary-content .qg-search-concierge-help {
    z-index: 999;
    display: none;
}
#qg-content #qg-secondary-content .qg-aside h2 {
    display: none;
}
.qg-filter-by-results {
    margin-bottom: 2rem;
    display: none;
}
.qg-filter-by-results .qg-filter-by-results__form label, .qg-filter-by-results .qg-btn__filter, .qg-filter-by-results .qg-filter-by-results__form .label {
    font-size: 0.8rem;
}
.qg-filter-by-results .qg-btn__filter {
    margin-right: 2em;
}
.qg-filter-by-results .qg-filter-by-results__form .label {
    font-weight: normal;
}
.qg-filter-by-results .qg-filter-by-results__title {
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 0.8em;
}
.qg-search-state__container {
    color: #fff;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer;
}
.qg-search-state__container p:hover {
    text-decoration: underline;
}
.qg-search-state__container .fa {
    line-height: inherit;
}


@media (max-width: 991.98px) {
    .qg-breadcrumb-list-item {
        display: inherit;
    }
}
